<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tukorea.sirojungbotong">  <!-- 실제 패키지명으로 변경 -->

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SiroJungbotong"
        tools:targetApi="31">

        <!-- OnboardActivity (앱 런처) -->
        <activity
            android:name=".OnboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SignupExtraActivity -->
        <activity
            android:name="com.example.yourapp.SignupExtraActivity"
            android:exported="true">
            <!--
                툴바 없이도 이 액티비티를 호출하려면,
                예를 들어 OnboardActivity에서 startActivity로 이동하시거나,
                인텐트 필터를 추가해서 특별한 액션으로 호출할 수도 있습니다.
            -->
        </activity>

        <activity
            android:name=".MarketListupActivity"
            android:exported="true">
        </activity>

        <!-- SignupKakaoActivity -->
        <activity
            android:name=".SignupKakaoActivity"
            android:exported="true"/>

        <!-- LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"/>

        <!-- FindActivity -->
        <activity
            android:name=".FindActivity"
            android:exported="true"/>

        <!-- FoundIdActivity -->
        <activity
            android:name=".FoundIdActivity"
            android:exported="true"/>

        <!-- ResetPwActivity -->
        <activity
            android:name=".ResetPwActivity"
            android:exported="true"/>

        <!-- ResetPwEndActivity -->
        <activity
            android:name=".ResetPwEndActivity"
            android:exported="true"/>

        <!-- SignupEmailActivity -->
        <activity
            android:name=".SignupEmailActivity"
            android:exported="true"/>

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth"
                    android:scheme="kakao2ded46be765ec69de3b8d15cbfbe3cb4" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:exported="true"/>

        <!-- 필요하다면 다른 Activity를 계속 추가 -->

    </application>
</manifest>
